html,
body,
#root
{
    
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-image: url("./background.png");*/
    background-color:black;
    background-size: 100%;
    /*background: radial-gradient(at 50% 100%, #2727c3 40%, #06068f 80%, #020263 100%);*/
}
.bg {
  position: absolute;
  background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);
}

h1,h2,h3,h4,h5 {
  font-family: 'Italiana', serif;
  color: #fff;
  margin-bottom: 32px !important;
}

h1 {
  font-size: 60px !important;
  color: white;
  font-family: 'Montserrat';
}

h2 {
  font-size: 40px !important;
  color: white;
}

a{
  font-family: 'Roboto', sans-serif;
  color:white;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  padding: 10%;
  text-decoration: none;
  
}

.right{
  float:right;
}


.navbar {
  display: flex;
  justify-content:right;
  align-items: center;
  padding: 30px;
  color: #fff;
  width:100%;
  position:fixed;
  z-index:20;
  
  
}

.nav-links {

  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8%;
  transform: scaleX(1.4);

}

.nav-links li {
  margin-left: 25%;
  
}

.nav-links a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  

}

.nav-links a:hover {
  color: #a4a4d1;
  
}

.left-text {

  font-family: 'Roboto', sans-serif;
  position: absolute; /* Position the element absolutely within its containing parent */
  left: 10%; /* Adjust the left distance from the left edge of the screen */
  padding:3%; /* Adjust the top distance from the top edge of the screen */
  padding-top:70px;
  font-size: 10px; /* Adjust the font size as needed */
  color: #ffffff; /* Text color */
  font-weight: lighter; /* Make the text bold */
  transform: scaleX(1.5);
  opacity:80%;
  line-height: 1.3;
}

.low-opacity {
  color: white;
  opacity: 40%;
}

.line{
  font-family: 'Roboto', sans-serif;
  position: relative; /* Position the element absolutely within its containing parent */
  top:30px;
  left:-10px;
  font-size: 10px; 
  color: #ffffff; 
  font-weight: bold;
  transform: scaleY(5);
  opacity:80%;
}

.photo {
  display: inline-block;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the images */
.photo img {
  max-width: 100%;
  height: auto;
}
.photo {
  display: inline-block;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the images */
.photo img {
  max-width: 100%;
  height: auto;
}
/* footer */
.footer {
  justify-content: space-between;
  align-items: center;
  background: black;
}
body{
  background-image: url("./background.png");
}

.bodySection{
  height:100%;
  width:100%

}
/* stretch text */
span.stretch {
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}